.sticky {
	display: block;
    background-color: $color__lightgray;
    padding: 2em;
    border-radius: 4px;
}

.hentry {
	margin: 0 0 4em 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
//	margin: 1.5em 0 0;
}

.entry-header {
    margin-bottom: 1.5em;
}

.page-content,
.error-404 {
    margin-bottom: 4em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.read-next {
    border-bottom: 1px solid $color__lightgray;
    border-top: 1px solid $color__lightgray;
    padding: 2em 0;
    margin: 0 0 4em 0;
  
  h2 { margin-bottom: 0; }
}

.entry-title {
    margin-bottom: 0;
    margin: 0;
}

.entry-content ul, .entry-content ol {
  margin-bottom: 1.5em;

  ol, ul {
    margin-bottom: auto;
  }
}

.entry-meta {
    font-weight: bold;
    color: $color__middlegray;
    letter-spacing: .5px;
            text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
  
    a { color: $color__middlegray; }
}

.post-thumb {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-color: $color__lightgray;
}

.cat-links, .tags-links {
  display: block;
}