.site-header {
    border-bottom: 1px solid #eee;
}

.site-branding {
//  flex-grow: 1;
// width: 300px;
 // z-index: 1;
}

.site-title {
    margin: 0;
    //padding: 20px 0;
//    font-size: 16px;
//    font-weight: normal;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
  a {
      padding: 20px;
      margin-left: -20px;
    display: inline-block;
      position: relative;

      
      
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            transform: scaleX(0);
            background-color: #000;
            transition: all .2s ease-out;
        }
        
        &:hover:after {
            transform: scaleX(1);
        }
    }
}

.site-description {
  margin-bottom: .5em;
}

.site-logo {
    display: block;
    max-width: 220px;
}

.site-header-col {
  display: flex;
    justify-content: space-between;
  position: relative;
  padding: 0;
}


@media screen and (min-width: 37.5em) {
    .site-header-col {
        justify-content: flex-start;
    }
}

.banner-image {
    min-height: 280px;
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
}

@media (screen and min-width: 540px) {
    .banner-image {
        min-height: 380px;
    }
    .site-header-col {
      padding-left: .5rem;
      padding-right: .5rem;
    }
}

@media (screen and min-width: 728px) {
    .banner-image {
        min-height: 450px;
    }
}

@media (screen and min-width: 1080px) {
    .banner-image {
        min-height: 500px;
    }
}

.banner-image-empty {
    background-color: #f0f0f0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: auto;
}

.home-header {
    padding-bottom: 2em;
    padding-top: 2em;
    
    h1 {
        margin-top: 0;
    }
}