h1, h2, h3, h4, h5, h6, .h1 {
	clear: both;
    padding: 0;
    overflow-wrap: break-word;
}

h1, .h1 {
    @include font-size(2.2);
    margin: 0;
    margin-bottom: 2px;
}

h2, h2, h3, h4, h5, h6, .h1 {
    margin: 0 0 .5em 0;
}

h5 {
    color: #989898;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
}

p {
	margin-bottom: 1.5em;
    margin-top: 0;
    font-size: 16px;
    overflow-wrap: break-word;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background-color: #eee;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
    border-radius: 4px;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}