.button,
.comment-reply-link
{
    border-radius: 3px;
    line-height: 1.5;
    padding: 12px;
    background-color: $color__darkgray;
    color: $color__white;
    border: none;
    position: relative;
    transition: all .2s ease-out;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    
    &:hover,
    &:focus,
    &:active {
        color: $color__white;
        background-color: $color__middlegray;
    }

}