textarea#comment {
    height: 120px;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comment-list {
  list-style: none;
  padding: 0;
}

 .comment, .pingback {
    position: relative;
    border-bottom: 1px solid $color__lightgray;
    padding: 2em 0;

    .comment-author {
        img { display: none; }
    }

    &:first-child {
        border-top: 1px solid $color__lightgray;
    }

    ol, ul {
      margin-bottom: 1.5em;

      ol, ul {
        margin-bottom: auto;
      }
    }

    li.comment {
      list-style: none;
    }

   &:last-of-type {
     margin-bottom: 2em;
   }
}

.comment-respond {
 // margin-top: 2em;
}

// h3
.comment-author {
  font-size: 1.17em;
  font-weight: bold;
}

// h5
.comment-metadata {
  a { color: $color__middlegray; }
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 1.5em;
}

.comment-navigation {
    margin: 2em 0;

    .nav-next a,
    .nav-previous a {
        display: block;
    }
}

.comment-reply-link {
  position: absolute;
  top: 38px;
  right: 0;
}

.no-comments {
  margin-top: 2em;
  font-size: 1.17em;
  font-weight: bold;
}

.comment-awaiting-moderation {
    background-color: $color__lightgray;
    padding: 3px 4px;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
    .comment-form-email {
        width: 48%;
        float: left;
    }

    .comment-form-url {
        width: 48%;
        float: right;
    }
}