/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
    background-color: $color__white;
	@include font-size(0.75);
	line-height: 1.5;
	padding: .6em 1em .6em;
    background-color: $color__darkgray;
    color: $color__white;
    transition: all .2s ease-out;
    border: none;
    
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    min-height: 45px;

    &:hover,
	&:active,
	&:focus {
        color: $color__white;
        background-color: $color__middlegray;
	}
}

.menu-toggle {
    &:hover,
    &:active,
    &:focus {
        color: inherit;
        background-color: inherit;
    }
}

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-main;
	border: 1px solid $color__regulargray;
	border-radius: 3px;
    -webkit-appearance: none;
	padding: .6em 1em .6em;
    width: 100%;
    line-height: 1.5;

	&:focus {
		color: $color__text-main;
	}
}

select {
	border: 1px solid $color__regulargray;
}

textarea {
	width: 100%;
}

label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 8px;
    color: $color__middlegray;
}


// Other
.search-form {
    display: flex;
    
    label {
        flex-grow: 1;
        margin-bottom: 0;
    }
    
    .search-field {
        -webkit-appearance: none;
    }
    
    .search-submit {
        margin-left: 1em;
    }
}

.post-password-form {
  
  background-color: $color__lightgray;
  border-radius: 4px;
  
    label {
        float: left;
        width: calc(70% - 1em);
        margin-right: 1em;
    }
    
    input[type="submit"] {
        float: right;
        width: 30%;
        margin-top: 1.5em;
    }
  
  margin: 1.5em 0;
  padding: 2em;
  
  &:after {
  content: "";
  display: table;
  clear: both;
}
}
