.main-navigation {
        // Main navigation link
	a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 20px;
        letter-spacing: 2px;
        font-size: 14px;
        position: relative;
        
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            transform: scaleX(0);
            background-color: $color__black;
            transition: all .2s ease-out;
        }
        
        &:hover:after {
            transform: scaleX(1);
        }
        
        &:hover {
            color: $color__darkgray;
        }
	}
    
    .current_page_item > a {
        -webkit-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
        -moz-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
        box-shadow: inset 0px -2px 0px 0px $color__darkgray;
    }
}

.main-navigation ul {
 //   display: none;
}

/* Small menu. */
.menu-toggle {
    height: 100%;
    border: none;
    
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    color: $color__darkgray;
    background: $color__white;
}

.main-navigation {
    
    ul {
        display: block;
        list-style: none;
        padding: 0 0 0 20px;
    }

}

// .menu
.main-navigation > div {
    position: absolute;
    left: 0;
    background: $color__white;
    width: 100%;
    box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
    border: 1px solid $color__lightgray;
    z-index: 9999;
    
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: .21s visibility, .2s opacity, .2s transform;
    transition-timing-function: ease-out;
    
    > ul {
        padding: 0;
    }
}

.main-navigation.toggled > div {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 37.5em) {
    
    .main-navigation.toggled ul {
        padding: 0;
    }
    
    .main-navigation > div {
        position: relative;
        left: auto;
        background: none;
        width: 100%;
        box-shadow: none;
        border: none;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

        > ul {
            padding: auto;
        }
    }

    .main-navigation {
        clear: both;
        display: block;
        float: left;
        margin-left: -20px;

        ul {
            display: none;
            list-style: none;
            margin: 0;
            padding-left: 0;

            ul {
                box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
                float: left;
                position: absolute;
                top: 100%;
               // left: -999em;
                left: 0;
                z-index: 99999;
                border: 1px solid $color__lightgray;
                background: $color__white;
                width: 100%;
                width: 220px;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
                transition: .21s visibility, .2s opacity, .2s transform;
                transition-timing-function: ease-out;

                ul {
               //     left: -999em;
                    left: 100%;
                    top: 0;
                    margin-top: -1px;
                }

                li {
                    &:hover > ul,
                    &.focus > ul {
                        left: 100%;
                    }
                    width: 100%;
                }

                a {
                    width: 100%;
                }

                :hover > a,
                .focus > a {
                }

                a:hover,
                a.focus {
                }
            }

            li:hover > ul,
            li.focus > ul {
               // left: auto;
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }

        li {
            float: left;
            position: relative;

            &:hover > a,
            &.focus > a {
            }
        }

        // Main navigation link
        a {
        //    padding: 20px;
        }

        .current_page_ancestor > a, .current_page_parent > a {
            -webkit-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
            -moz-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
            box-shadow: inset 0px -2px 0px 0px $color__darkgray;
        }

        .current-menu-parent {
            -webkit-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
            -moz-box-shadow: inset 0px -2px 0px 0px $color__darkgray;
            box-shadow: inset 0px -2px 0px 0px $color__darkgray;
        }
    }

	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.posts-navigation {
    margin-bottom: 4em;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    
    .nav-previous a, .nav-next a {
        border-radius: 3px;
        background-color: $color__white;
        line-height: 1.5;
        padding: 1em;
        background-color: $color__darkgray;
        color: $color__white;
        border: none;
        transition: all .2s ease-out;

        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;

        &:hover {
            border: none;
            color: $color__white;
            background-color: $color__middlegray;
        }

        &:active,
        &:focus {
            border: none;
        }
        
        &:before,
        &:after {
            display: none;
        }
    }
    
    div:nth-child(2) {
        border-left: none;
    }
}

.widget-area {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .posts-navigation {
        margin-bottom: 2em;
    }
}