/* TODO: clean up the use of these variables, most are unused and they are used extremely inconsistently. They are leftover from _s. */

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

// THEME COLORS
$color__white: #fff;
$color__lightgray: #eee;
$color__regulargray: #d6d6d6;
$color__middlegray: #6f6f6f;
$color__darkgray: #333;
$color__black: #000;

$color__text-main: #404040;

// OTHER
$color__text-screen: #21759b;
$color__lightyellow: #fff9c0;


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$font__main:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;