ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.widget_search, .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta, {
    ul { list-style: none; padding: 0; }
    li {
        border-bottom: 1px solid #eee; 
        padding: 1em 0;
        
        &:first-child {
            border-top: 1px solid #eee;
        }
    }
}