a {
	color: $color__link;
    text-decoration: none;

	&:visited {
	//	color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
        color: #333;
	}
}

.button {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
    background-color: #fff;
	line-height: 1;
	padding: .6em 1em .6em;
    font-size: 16px;

	&:hover {
	}

	&:active,
	&:focus {
	}
}

.edit-link a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 6px 10px;
    margin: 0 20px 0 0;
    border-radius: 6px;
    text-transform: uppercase;
    background: #40de40;
}