/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

.nav-links {
    .nav-previous, .nav-next {
        display: flex;
        border: 1px solid #eee;
        
        a {
            flex-grow: 1;
            padding: 10px;
        }
    }
}