/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
    background-color: #fff;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1.5;
	padding: .6em 1em .6em;
    font-size: 16px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: .6em 1em .6em;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

label {
    display: block;
}


// Other

.search-form {
    .search-field {
        float: left;
        width: calc(70% - 1em);
        margin-right: 1em;
        -webkit-appearance: textfield;
    }
    
    .search-submit {
        float: right;
        width: 30%;
    }
}
