.main-navigation {
  
  
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children:after, .more-menu:after {
  position: absolute;
  display: inline-block;
  content: '▾';
  top: 18px;
  right: 20px;
}
  
    display: flex;
    width: 100%;
    position: initial; // this was relative

  // weird menu wrapper
  div { width: 100%; }

    // #primary-menu
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
        width: 100%;
        float: right;
      
      &.menu-list {
        left: 0;
        width: 100%;
      }
        
        // Subnavs
		ul {
			box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
            border: 1px solid #eee;
            background: #fff;
            width: 100%;

			ul {
				left: -999em;
				top: 0;
                box-shadow: none;
                padding-left: 1em;
                border: none;
			}

			li {
                width: 100%;
                margin-top: -1px;
              a { border-bottom: 1px solid #eee; }
              
              &.current_page_item a, .current-menu-parent a {
                border-bottom: none;
              }
			}
          
            li > ul {
              position: relative;
              left: 0;
            }
		}
	}

	li {
		float: left;
        
        &:last-child { margin-right: 0; }

		&:hover > a,
		&.focus > a {
		}
	}
  
	a {
		display: block;
		text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
      
      &.more-link {
        padding-right: 0;
      }
	}
  
    .current_page_item, .current-menu-parent {
        -webkit-box-shadow: inset 0px -2px 0px 0px #333;
        -moz-box-shadow: inset 0px -2px 0px 0px #333;
        box-shadow: inset 0px -2px 0px 0px #333;
    }

}

.sub-menu {
  display: none;
  
  &.toggled {
    display: block;
  }
}

@media (screen and min-width: 540px) {
  .main-navigation {

      position: relative;

      // #primary-menu
      ul {

        &.menu-list {
          left: -999em;
          width: 200px;
        }
        
        li {
            &:hover > ul {
              left: 100%;
            }
          
          &:after {
            right: 6px;
            top: 17px;
          }
        }
        
        li:hover > ul {
          display: block;
          left: 0;
        }
        
        ul { 
          width: 200px;
          box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
          border: 1px solid #eee;
          
          ul {
            padding-left: 0;
            border: 1px solid #eee;
            
            li {
              border: none;
            }
          }
          
          li {
              &:hover > ul,
              &.focus > ul {
              //    left: 0;
                display: none;
              }
              &:hover > ul.toggled,
              &.focus > ul.toggled {
              //    left: 0;
                display: block;
              }
          }

          li > ul {
          //  position: absolute;
          //  left: -999em;
            box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
          }
        }
      }

      li {
          position: relative;
      }

  }
}

.main-navigation #primary-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.nav-links {
    margin: 1em 0;
    
    .nav-previous, .nav-next {
      //  display: flex;
       // border: 1px solid #eee;
        
        a {
        //    flex-grow: 1;
         //   padding: 10px;
        }
    }
    
    div:nth-child(2) {
        border-left: none;
    }
}

.widget-area {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
}