#primary-menu {
    float: right;
}

.main-navigation {
  
    display: flex;
    height: 3rem;
    width: 100%;
  //  flex-wrap: nowrap;
  
  // weird menu wrapper
  div { width: 100%; }
  
    .current_page_item, .current-menu-parent {
        -webkit-box-shadow: inset 0px -2px 0px 0px #333;
        -moz-box-shadow: inset 0px -2px 0px 0px #333;
        box-shadow: inset 0px -2px 0px 0px #333;
    }

    // #primary-menu
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
        width: 100%;
        
        // Subnav
		ul {
			//box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
            border: 1px solid #eee;
            background: #fff;
            width: 200px;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
                width: 100%;
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
        
        &:last-child { margin-right: 0; }

		&:hover > a,
		&.focus > a {
		}
	}
  
	a {
		display: block;
		text-decoration: none;
        padding: 20px;
      
        &:hover {
//        -webkit-box-shadow: inset 0px -2px 0px 0px #eee;
//        -moz-box-shadow: inset 0px -2px 0px 0px #eee;
//        box-shadow: inset 0px -2px 0px 0px #eee;
        }
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.main-navigation #primary-menu {
              display: flex;
        justify-content: flex-end;
    }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation.toggled {
    .menu-primary-container {
        position: absolute;
        left: 0;
        width: 100%;
        
        #primary-menu {
            width: 100%;
            background: #fff;
            
            li {
                float: none;
                border-bottom: 1px solid #eee;
                padding-left: 30px;
                
                &:first-child {
                    border-top: 1px solid #eee;
                }
                
                .sub-menu {
                    position: relative;
                    left: 0;
                    float: none;
                    border: none;
                    
                    li {
                        border-bottom: none;
                    }
                }
                
                a { padding-left: .5em; }
            }
        }
    }
}

//.menu-toggle {
//    padding: 10px 20px;
//    min-height: 100%;
//    border: none;
//    padding-right: 0;
//        text-transform: uppercase;
//        font-weight: bold;
//        letter-spacing: 2px;
//        font-size: 14px;
//}
//
//@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
//}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.nav-links {
    margin: 1em 0;
    
    .nav-previous, .nav-next {
      //  display: flex;
       // border: 1px solid #eee;
        
        a {
        //    flex-grow: 1;
         //   padding: 10px;
        }
    }
    
    div:nth-child(2) {
        border-left: none;
    }
}

.widget-area {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
}