.main-navigation {
    
    display: inline-block;
    vertical-align: top;
    
  .menu-list {
    display: none;
  }
  &.toggled {
    .menu-list {
      display: block;
    }
  }
  
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children:after {
  position: absolute;
  display: inline-block;
  content: '▾';
  top: 18px;
  right: 20px;
}
  
.current-menu-ancestor.current-menu-parent > a {
  border-bottom: none !important;
        -webkit-box-shadow: inset 0px -2px 0px 0px #333;
        -moz-box-shadow: inset 0px -2px 0px 0px #333;
        box-shadow: inset 0px -2px 0px 0px #333;
}
  
    display: flex;
    position: initial;

  // weird menu wrapper
  div { width: 100%; }

    // #primary-menu
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
     //   width: 100%;
      //  float: right;
      
      &.menu-list {
        left: 0;
        width: 100%;
      }
        
        // Subnavs
		ul {
			box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
            border: 1px solid #eee;
            background: #fff;
            width: 100%;

			ul {
				left: -999em;
				top: 0;
                box-shadow: none;
                padding-left: 1em;
                border: none;
			}

			li {
                width: 100%;
                margin-top: -1px;
              a { border-bottom: 1px solid #eee; }
			}
          
            li > ul {
              position: relative;
              left: 0;
            }
		}
	}

	li {
		//float: left;
        
        &:last-child { margin-right: 0; }

		&:hover > a,
		&.focus > a {
		}
	}
  
	a {
		display: block;
		text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
      
      &.more-link {
        padding-right: 0;
      }
	}
  
    .current_page_item, .current-menu-parent {
        -webkit-box-shadow: inset 0px -2px 0px 0px #333;
        -moz-box-shadow: inset 0px -2px 0px 0px #333;
        box-shadow: inset 0px -2px 0px 0px #333;
      
      >a {
        border-bottom: none;
      }
    }

}

.sub-menu {
  display: none;
  
  &.toggled {
    display: block;
  }
}

#primary-menu.menu-visible {
    display: block;
}

#primary-menu {
    display: none;
}

@media (screen and min-width: 768px) {

.main-navigation #primary-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
    
    display: block;
}
    
  .main-navigation {
    
      position: relative;
      display: inline-block;

      // #primary-menu
      ul {
          
          float: right;

        &.menu-list {
          left: -999em;
          width: 200px;
        }
        
        // main .menu-item
        li {
          position: relative;
            float: left;
        }
        // when you hover a main menu item, show the first sub menu under it
        li:hover > ul {
          display: block;
          left: 0;
        }
        
        // .sub-menu inside main li
        ul { 
          width: 200px;
          box-shadow: 0 12px 50px rgba(0, 0, 0, 0.05);
          border: 1px solid #eee;
          
          // .sub-menu in .sub-menu
          ul {
            padding-left: 1em;
            border: none;
            box-shadow: none;
            width: 100%;
          }
          
          // When you hover an item in a sub menu, if it has a sub menu inside it, show it if it's been toggled.
          li {
              &:hover > ul,
              &.focus > ul {
                display: none;
              }
              &:hover > ul.toggled,
              &.focus > ul.toggled {
                display: block;
              }
          }
        }
      }
    
      // make the More menu open aligned right so it doesnt go off the screen
      #primary-menu > li:last-child:hover > ul {
        display: block;
        left: auto;
        right: -14px;
      }

      // make the last menu item open aligned right so it doesnt go off the screen
      #primary-menu > li:nth-last-child(2):hover > ul {
        display: block;
        left: auto;
        right: 0;
      }
    
    // to make space for the down arrow so it looks even
    #primary-menu > li.menu-item-has-children {
      padding-right: 12px;
    }

    .menu-item-has-children:after {
      top: 17px;
      right: 18px;
    }

    .more-menu:after {
      position: absolute;
      display: inline-block;
      content: '▾';
      top: 17px;
      right: -14px;
    }
    
  }
  
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.nav-links {
    margin: 1em 0;
    
    .nav-previous, .nav-next {
      //  display: flex;
       // border: 1px solid #eee;
        
        a {
        //    flex-grow: 1;
         //   padding: 10px;
        }
    }
    
    div:nth-child(2) {
        border-left: none;
    }
}

.widget-area {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
}