.wp-block-button {
  
  .wp-block-button__link {
    border-radius: 3px;
    line-height: 1.5;
    padding: 12px;
   // background-color: $color__darkgray;
   // color: $color__white;
    border: none;
    position: relative;
    transition: all .2s ease-out;
    transition-delay: 0s;

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    
    &:after {
      display: none;
      height: 0;
    
    }
    
    &:hover,
    &:focus,
    &:active {
        opacity: .8;
        border-bottom: 0;
        transition-delay: 0s;
      
      &:not(.has-background) {
        background-color: $color__middlegray;
        opacity: 1;
      }
      
      &:not(.has-text-color) {
        color: $color__white;
      }
    }
    
	&:focus {
		outline: 2px solid $color__darkgray;
	}

  }
  

  
}